[submodule "CODE/ros_ws/src/zed-ros2-wrapper"]
    path = CODE/ros_ws/src/zed-ros2-wrapper
    url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "CODE/Robot_UI"]
	path = CODE/Robot_UI
	url = https://github.com/pm5721robo/Robot_UI.git
	branch = main
[submodule "CODE/rosScope"]
	path = CODE/rosScope
	url = https://github.com/tejasmk-tkp/rosScope.git
