services:
  material-transfer-robot:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        USERNAME: ${USERNAME:-tejas}
    image: material-transfer-robot
    container_name: material-transfer-robot-container
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
    volumes:
      - /dev:/dev
      - .:/workspace
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.Xauthority:/tmp/.docker.xauth:rw
      - zed_settings:/home/tejas/.stereolabs/settings
      - zed_resources:/home/tejas/.stereolabs/resources
    network_mode: host
    privileged: true
    stdin_open: true
    tty: true
    command: bash
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility]
volumes:
  zed_settings:
  zed_resources:
